@font-face {
	font-family: Montserrat;
	src: url('/Montserrat-Variable.ttf');
	font-weight: 1 999;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('MaterialIconsOutlined-Regular'),
	  url(/MaterialIconsOutlined-Regular.otf);
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';

	vertical-align: middle;
  }


:root {
	font-family: 'Montserrat', sans-serif;
}

.coltainer {
	margin: auto;
	max-width: 370px;
}

.split-panel {
	display: flex;
}
.split-panel.mostly-left .left, .split-panel.mostly-right .right { /* same side */
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0;
}
.split-panel.mostly-left .right, .split-panel.mostly-right .left { /* oposite side */
	flex-shrink: 0;
}

header h1 {
	margin: 0.3em 0px;
}

.hoophouse-card {
	border: 1px solid gray;
	padding: 5px;
	border-radius: 10px;
}
.hoop-img {
	border-radius: 5px;
	display: block;
}
.hoophouse-card .hoop-img {
	width: 100%;
}

.hoophouse-card h1 {
	margin: 0px;
	margin-top: 5px;
	font-size: 1.3em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.card-status-chips {
	display: flex;
	flex-wrap: wrap;
}

.status-chip {
	color: white;
	padding: 3px 5px;
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	margin-right: 4px;
	margin-top: 4px;
}
.status-chip > .material-icons {
	font-size: 1.2em;
	margin-right: 5px;
}
.status-chip.door-open {
	background-color: red;
}
.status-chip.door-auto {
	background-color: #1F8800;
}

.last-update-text {
	font-size: 0.90em;
	margin: 0px;
}

.hoophouse-card .readouts {
	font-size: 1.3em;
}
.readout {
	display: inline-flex;
	align-items: center;
}
