@font-face {
	font-family: Montserrat;
	src: url('Montserrat-Variable.ttf');
	font-weight: 1 999;
	font-display: block;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('MaterialIconsOutlined-Regular'),
	  url(MaterialIconsOutlined-Regular.otf);
	font-display: block;
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 1.2em;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';

	vertical-align: middle;
  }


:root {
	font-family: 'Montserrat', sans-serif;
}

body {
	overflow-x: hidden;
	margin: 0px;
}

input {
	font-family: inherit;
}

.coltainer {
	margin: auto;
	max-width: min(370px, calc(100vw - 10px));
}

.split-panel {
	display: flex;
}
.split-panel.mostly-left .left, .split-panel.mostly-right .right { /* same side */
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0;
}
.split-panel.mostly-left .right, .split-panel.mostly-right .left { /* oposite side */
	flex-shrink: 0;
}

.page-title {
	color: #575757;
}
.hoophouse-card {
	box-shadow: rgb(0 0 0 / 36%) 0px 0px 6px 0px;
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 15px;
}

.hoop-img-container {
	overflow: hidden;
	position: relative; /* start new context */
	border-radius: 5px;
}
.hoop-img {
	display: block;
	min-height: 100px;
	width: 100%;
}
.hoop-img-cover {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 3em;
	background-color: #0000009f;
	opacity: 0;
	transition: opacity 0.3s;
}
.hoophouse-card.disconnected .hoop-img-cover, .hoophouse-card.loading .hoop-img-cover,
.hoop-img-cover.disconnected, .hoop-img-cover.loading {
	opacity: 1;
}
.hoop-img-cover > .material-icons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hoophouse-card .hoop-img {
	width: 100%;
}

.hoophouse-card h1 {
	margin: 0px;
	margin-top: 5px;
	font-size: 1.3em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.card-info {
	padding: 0px 5px;
}

.card-status-chips {
	display: flex;
	flex-wrap: wrap;
}

.status-chip {
	color: white;
	padding: 3px 5px;
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	margin-right: 4px;
	margin-top: 4px;
}

.status-chip > .material-icons {
	margin-right: 5px;
}
.door-open {
	background-color: #31A8B8;
}
.door-auto {
	background-color: #62aa4d;
}
.door-manual {
	background-color: #858585;
}
.door-closed {
	background-color: #316ab8;
}
.chip-disconnected {
	background-color: #de5151;
}

.last-update-text {
	font-size: 0.90em;
	margin: 4px 0px;
    margin-top: 6px;
}

.hoophouse-card .readouts {
	font-size: 1.3em;
	justify-content: end;
}
.readouts {
	display: flex;
}
.readout {
	display: inline-flex;
	align-items: center;
	margin: 5px 5px;
}



.connection-status-container{
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100vw;
	display: flex;
	align-items: center;
    justify-content: center;
	pointer-events: none;
}
.connection-status {
	pointer-events: initial;
	background-color: #ffffff;
	margin: 0px 10px;
	margin-bottom: 15px;
	padding: 10px 17px;
	box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 16%);
	border-radius: calc((1ex / 2) + 20px);
	color: #575757;
	transition: transform 0.3s cubic-bezier(.3,.2,0,1), color 0.2s, background-color 0.2s;
	box-sizing: border-box;
	white-space: nowrap;
}
.connection-status > p {
	margin: 0px;
}
.connection-status .status-chip, button .status-chip {
	margin: 0;
	padding: 0;
	display: flex;
	color: inherit;
}
.connection-status .material-icons {
	width: 1em; /* Fun patch for unstyled cache thing! :)*/
	margin-right: 13px;
}
.connection-status.error {
	background-color: #2e2e2e;
	color: white;
}
.connection-status.hidden {
	transform: translate(0, 200%);
}

.page {
	opacity: 1;
	transition: transform 0.3s cubic-bezier(0,0,0,1), opacity 0.3s linear;
	transform: translate(0,0);
}
.off-right, .off-left {
	transition: transform 0.3s cubic-bezier(0,0,1,0), opacity 0.3s linear;
}
.off-left {
	opacity: 0;
	transform: translate(-20px,0px);
}
.off-right {
	opacity: 0;
	transform: translate(20px,0px);
}

.top-back-layout {
	display: flex;
	align-items: center;
	margin: 1.2em 0;
}
.top-back-icon {
	font-size: 2em;
}
.top-back-stack {
	display: flex;
	flex-direction: column;
	margin-left: 11px;
}
.top-back-stack > h1, .top-back-stack > p {
	margin: 0;
}

.action-buttons {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.2em;
}
.action-buttons .readouts {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}
.action-buttons .readout{
	justify-content: space-between;
}
.action-buttons .readout .material-icons {
	margin-right: 5px;
}

.action-buttons button {
	color: white;
	border: none;
	font-size: inherit;
	border-radius: 5px;
	box-shadow: 0px 0px 16px #ffffff75 inset;
	transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s;
}
.action-buttons > .door-button{
	flex-grow: 1;
	margin-right: 5px;
}
.action-buttons > .auto-button{
	flex-grow: 0.4;
}
.action-buttons button:disabled{
	box-shadow: 0px 0px 58px 0px grey inset;
	opacity: 0.7;
}

.log-view {
	border: 2px solid rgb(187, 187, 187);
	border-radius: 5px;
	background-color: #fafafa;
	color: #525252;
	font-family: consolas, monospace;
	padding: 5px;
	height: 25vh;
}
.log-view p {
	margin: 0px;
}

.auto-status {
	font-weight: bold;
}

.bottom-action-bar {
	display: flex;
	margin-top: 10px;
	font-size: 1em;
}
.bottom-action-bar button {
	font-size: inherit;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #00000073;
	padding: 10px 20px;
	border: none;
	flex-grow: 1;
	background-color: white;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}
.bottom-action-bar button:hover {
	background-color: #f5f5f5;
}
.bottom-action-bar button:disabled {
	box-shadow: 0px 0px 0px #00000073;
	background-color: #d5d5d5;
    color: #5a5a5a;
}

.settings label {
	display: block;
	margin-bottom: 0.9em;
}
.settings label p {
	margin: 0;
	margin-bottom: 1px;
	color: #575757;
}
input {
	border-radius: 5px;
	border: 2px solid gray;
	font-size: 1.2em;
	width: 100%;
	box-sizing: border-box;
	padding: 4px 5px;
	box-shadow: 0px 0px 0px #0000006b inset;
	transition: box-shadow 0.3s, border-color 0.3s;
}
input:focus {
	outline: none;
	border-color: #333333;
	box-shadow: 0px 0px 3px #0000006b inset;
}

.bottom-action-bar .save-button {
	color: white;
	background-color: #3c6cc7;
}
.bottom-action-bar .save-button:hover:not(:disabled) {
	color: white;
	background-color: #507bcc;
}

.settings-line {
	display: flex;
	align-items: center;
}
.settings-line > span {
	font-size: 1.2em;
}


.bottom-padding {
	height: 50px;
}

hr {
	border: 1px solid gray;
	border-radius: 1000px;
}